<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Open Bid</title>
  </head>
  <body>
    <div class="container-fluid wrapper">
      <header>
        <h1>Open <span>BID</span></h1>

        <ul>
          <li><a href="/customer_reg_login">New/Existing Customer Login</a></li>
          <li><a href="/contractor_reg_login">New/Existing Contractor Login</a></li>
        </ul>
      </header>
      <div id="big">
      <div class="mainContent">
        
      </div>
    </div>

      <footer>
        <ul>
          <li><a href="about us"></a>About</li>
          <li><a href="contact Open Bid"></a>Services</li>
          <li><a href="Contractors Reviews"></a>Projects</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
